# vscode
.vscode*


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# === Test related ===

# テスト用の実行ファイル
/bin_tests/
/test

# テスト用ソースファイル
test_*.cpp
*_test.cpp
tests/
